body{
    font-family: 'Lucida Sans', sans-serif;
    background-color: #568f99;
    padding: 100px;
    margin: 90px;
    background-image: linear-gradient(to right, #8cdcdf, #26c0df);
}

.container {
    max-width: 700px;
    margin: auto;
    background: #8ccfe0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.9);
}

h1{
    text-align: center;
    color: rgb(9, 30, 99);
}

.results {
    text-align: center;
    margin-top: 10px;
}

.results p{
    font-size: 20px;
}

.numbers {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}